<div class="flex flex-row justify-content-between">
    <div class="flex justify-content-start">
        <h3 class="p-0 m-0 mb-2">
            Collections
        </h3>
        <button pButton pRipple type="button" icon="pi pi-plus-circle" class="p-button-rounded p-button-plain p-button-text w-2rem h-2rem" (click)="createCollection()"></button>
    </div>
</div>
  
<p-table id="DataTable" [style]="{'height':'calc(100vh - 175px)','width':tableWidth}"  
         [scrollable]="true" scrollHeight="flex" selectionMode="single" 
         [value]="collections" [responsive]="true" 
         [rows]="collections.length" sortField="name" [sortOrder]="1">
  
         <ng-template pTemplate="header">
          <tr>
            <th pFrozenColumn class="flex-none w-12rem align-items-center justify-content-center top-header">
                <span>Name</span>
            </th>
        
            <th pFrozenColumn class="flex-none w-12rem align-items-center justify-content-center top-header">
              <span>Description</span>
            </th>
            <th pFrozenColumn class="flex-none w-5rem align-items-center justify-content-center top-header">
              <span>Actions</span>
            </th> 
          </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-collection>
          <tr class="border-bottom-1 border-gray-300">
            <td pFrozenColumn class="flex-none w-12rem border-none">
              {{ collection.name }}
            </td>
            <td pFrozenColumn class="flex-none w-12rem border-none">
              {{ collection.description }}
            </td>
            <td pFrozenColumn class="flex-none w-5rem  border-none">
              <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-plain p-button-text w-2rem h-2rem" (click)="editCollection(collection)"></button>
            </td>
          </tr>
        </ng-template>
  
  </p-table>