
:host ::ng-deep {

    .p-fieldset-legend {
        background-color: lightgrey !important;
    }

    .p-badge {
        font-size: 0.60rem !important;
        background: #3F51B5E0;
        line-height: 1.0rem;
        height: 1.0rem;
        padding: 0 0.25rem;
        font-weight: bold;
        min-width: none;
    }

}


.button-type {
    width: 90px; 
    height: 25px;
    font-size: 0.75rem !important;
    border-radius: 0px;
}

.button-type:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;    
}

.button-type:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;    
}

.border-user {
    border-radius: 25px; 
    border: thin solid #27293665;
}

.border-ia {
    border-radius: 25px; 
    border: thin solid #4472C465;    
}

.border-text {
    border-radius: 25px; 
    border: thin solid lightgreen;
}
