
:host ::ng-deep {

    .p-fieldset-legend {
        background-color: lightgrey !important;
    }

    button.p-tree-toggler {
        visibility: hidden !important;
        width: 0px !important;
    }

    .pi-ia {
        background-image: url(../../../../assets/images/icons8-ai.png);
        width: 16px;
        height: 16px;
    }

    .p-menuitem-icon {
        margin-top: -4px !important;
    }

    .p-tabview-panels {
        padding: 0px;
        padding-top: 10px;
    }
}


.border-user {
    border-radius: 25px; 
    border: thin solid #27293665;
  }

  .border-ia {
    border-radius: 25px; 
    border: thin solid #4472C465;    
  }
