<div class="flex flex-row w-full h-full gap-3 p-4">

    <div class="w-23rem h-full">
        <p-fieldset legend="Documents"> 


            <div class="flex flex-row w-full align-items-center gap-2">
                <span class="pi pi-book"></span> 
                <p-dropdown [options]="collections" [(ngModel)]="selectedCollection" optionLabel="description" [showClear]="false" styleClass="w-14rem h-2rem" placeholder="Select a Collection" (onChange)="onChangeCollection($event)"></p-dropdown>
            </div>


            <div class="flex flex-row justify-content-end p-2 pb-3 gap-3 ">
                <p-button icon="pi pi-plus" [rounded]="true" severity="secondary" [outlined]="true" (click)="onUploadFile()"></p-button>
                <p-button icon="pi pi-cloud-upload" [rounded]="true" severity="secondary" [outlined]="true" (click)="onUploadFile()"></p-button>
            </div>

            <div *ngIf="files == null || files.length == 0" style="height:calc(100vh - 303px)" class="flex flex-row justify-content-center pt-6">There are no documents in the collection</div>

            <p-treeTable  *ngIf="files != null && files.length > 0" [value]="files" [scrollable]="true" [contextMenu]="cmTree" [(contextMenuSelection)]="selectedFile" 
                selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="onSelectDocument($event)" scrollHeight="calc(100vh - 305px)" 
                [tableStyle]="{'width':'20rem', 'overflow': 'hidden'}" [style]="{'border': '1px solid lightgray', 'overflow': 'hidden'}">
                <ng-template pTemplate="header">
                </ng-template>       
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">

                    <tr [ttRow]="rowNode" [ttContextMenuRow]="rowNode" [ttSelectableRow]="rowNode">

                        <td class="flex flex-row align-items-center w-18rem pl-0">
                            <p-treeTableToggler *ngIf="rowData.leaf == false" [rowNode]="rowNode"></p-treeTableToggler>
                            
                            <div *ngIf="rowData.leaf == true" [ngStyle]="{'margin-left': 'calc('+rowNode.level+'* 18px)' }" class="h-2rem w-2rem text-center align-content-center">
                                <span class="{{rowData.icon}}"></span>
                            </div>

                            <span class="text-xs">{{ rowData.data.filename }}</span>
                        </td>

                        <td class="w-2rem">
                            <div *ngIf="rowData.data?.status == 'PROCESSING'" class="flex-none w-1rem pi pi-spin pi-refresh"></div>
                            <div *ngIf="rowData.data?.status == 'CHUNK'" class="flex-none w-1rem pi pi-th-large text-400"></div>
                            <img *ngIf="rowData.data?.status == 'EMBEDDINGS'" class="flex-none w-1rem" src="/assets/images/icons8-ai.png">
                        </td>

                    </tr>
                </ng-template>         
            </p-treeTable>

          
        </p-fieldset> 
    </div>

    <div class="flex-1 h-full">
        <p-fieldset legend="Content">

            <div class="flex flex-1 flex-row gap-4">

                <div #containerEditor class="flex-1" style="border:1px solid lightgray;">
                    <ngs-code-editor [readOnly]="selectedDocument == null" [theme]="theme" [codeModel]="codeModel" [options]="options" style="height:calc(100vh - 180px);" (valueChanged)="onCodeChanged()"></ngs-code-editor>
                </div>


                <div class="w-16rem flex flex-column">

                    <button pButton pRipple p-button-label="10px" label="Guardar" (click)="onSave()" class="w-10rem align-self-end" [disabled]="documentModified == false"></button>

                    <p-table [value]="properties" [scrollable]="true" responsiveLayout="scroll" [style]="{height:'200px', 'margin-top':'12px'}" styleClass="p-datatable-striped">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th class="flex-none w-7rem top-header justify-content-start"><div class="ml-2">Property</div></th>
                                <th class="flex-1 top-header justify-content-start"><div class="ml-2">Value</div></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td class="flex-none w-7rem justify-content-start">{{rowData.name}}</td>
                                <td class="flex-1 justify-content-start">{{rowData.value}}</td>
                            </tr> 
                        </ng-template>
                    </p-table>

                    <p-table [value]="documentChunks" selectionMode="single" [(selection)]="selectedDocumentChunk" (onRowSelect)="onSelectDocumentChunk($event)" [scrollable]="true" responsiveLayout="scroll" [style]="{height:'calc(100vh - 450px)', 'margin-top':'12px'}" scrollHeight="calc(100vh - 450px)" styleClass="p-datatable-striped">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th class="flex-1 top-header justify-content-start"><div class="ml-2">Chunks</div></th>
                                <th class="flex-1 top-header text-right"><div class="mr-2">Tokens</div></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td class="flex-1 justify-content-start">  Chunk {{rowData.order}}</td>
                                <td class="flex-1 text-right">{{rowData.tokens}}</td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>

            </div>

        </p-fieldset>
    </div>


</div>

<p-contextMenu #cmTree [model]="itemsContextMenuTree"></p-contextMenu>

<p-confirmDialog #cd [style]="{width: '35vw'}" defaultFocus="none">
    <ng-template pTemplate="footer">
        <div *ngIf="cd.confirmationOptions.rejectVisible == false">
            <button pButton pRipple p-button-label="10px" label="Ok" (click)="cd.accept()"></button>
        </div>

        <div *ngIf="cd.confirmationOptions.rejectVisible == true">
            <button pButton pRipple styleClass="" label="No" class="p-button p-button-secondary p-button-outlined" (click)="cd.reject()"></button>
            <button pButton pRipple p-button-label="10px" label="Sí" (click)="cd.accept()"></button>
        </div>
    </ng-template>
</p-confirmDialog>