<div class="flex flex-column">

    <div class="mb-4" [innerHTML]="'import-prompt.content' | translate">

    </div>

    <p>
        <span class="p-float-label" style="flex:2">
            <textarea class="h-9rem w-full" pInputTextarea [(ngModel)]="jsonData"></textarea>
            <label for="name">{{'import-prompt.json-data-import' | translate}}<span class="text-red-600 text-base">*</span></label>
        </span>
    </p>

    <div class="flex flex-row justify-content-end p-0 m-0 w-full pb-5 gap-2">
        <p-button label="{{'general.close' | translate}}" [outlined]="true" (click)="onClose()" [style]="{width: '150px'}"></p-button>
        <p-button label="{{'import-prompt.button-import' | translate}}" [outlined]="false" (click)="onImport()" [style]="{width: '150px'}"></p-button>
    </div>

    <p-fieldset legend="{{'import-prompt.fieldset-chatGPT-title' | translate}}" [toggleable]="true" collapsed="true"> 
        <div *ngIf="showDelayedView" [innerHTML]="'import-prompt.fieldset-chatGPT-instructions' | translate">
        </div>
    </p-fieldset>


</div>
