@import 'fonts';
@import 'color';
@import 'spinner';
@import 'button';
@import 'table';
@import 'markdown';
@import 'flags';
@import 'dropdown';


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Ubuntu", sans-serif; 
    font-size: 0.85rem;
    font-weight: 400;
    overflow: hidden;
}

h3 {
    color: #272936;
    font-size: 20px;
    font-weight: bold;
}

.p-fileupload-buttonbar {
    border: 0px !important;
}

.p-fileupload {
    display: flex !important;
    align-items: center !important;
}

.p-fileupload-content {
    padding: 0px !important;
    flex:1;
}

.p-fileupload-row>div {
    flex: content !important;
}

.p-component {
    font-family: "Ubuntu",Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 0.85rem !important;
    font-weight: 400;    
}

.p-inputtext {
    font-family: "Ubuntu",Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 0.85rem !important;
    font-weight: 400;   
    height: 42px; 
}

.p-card:hover {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
} 

.p-sidebar .p-sidebar-content {
    padding: 0rem; 
}

.p-menuitem-link {
    height: 30px;
}


.scrollbar {
    overflow: auto;
    padding: 0 10px;
}

.scrollbar::-webkit-scrollbar {
    width: 16px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #272936;
}