<div style="background-color: #F8F8F8; overflow: auto; height: calc(100vh - 60px)" class="p-4 w-full flex flex-column">


    <div class="flex flex-row justify-content-around flex-wrap gap-3 pt-5">

        <p-card header="{{'dashboard.prompts' | translate}}" class="max-w-20rem flex-1 left-border border-color-1">
            <div class="flex flex-1 flex-row">
                <div class="flex flex-1 flex-column text-center">
                    <span class="text-3xl">{{getData('total_prompts')}}</span>
                    <span>{{'dashboard.total' | translate}}</span>
                </div>
                <p-divider layout="vertical"></p-divider>
                <div class="flex flex-1 flex-column text-center">
                    <span class="text-3xl">{{getData('last_prompts')}}</span>
                    <span>{{'dashboard.last-month' | translate}}</span>
                </div>
            </div>
        </p-card>

        <p-card header="{{'dashboard.tags' | translate}}" class="max-w-20rem flex-1 left-border border-color-2">
            <div class="flex flex-1 flex-row">
                <div class="flex flex-1 flex-column text-center">
                    <span class="text-3xl">{{getData('total_tags')}}</span>
                    <span>{{'dashboard.total' | translate}}</span>
                </div>
                <p-divider layout="vertical"></p-divider>
                <div class="flex flex-1 flex-column text-center">
                    <span class="text-3xl">{{getData('last_tags')}}</span>
                    <span>{{'dashboard.last-month' | translate}}</span>
                </div>
            </div>
        </p-card>

        <p-card header="{{'dashboard.authors' | translate}}" class="max-w-20rem flex-1 left-border border-color-3">
            <div class="flex flex-1 flex-row">
                <div class="flex flex-1 flex-column text-center">
                    <span class="text-3xl">{{getData('total_authors')}}</span>
                    <span>{{'dashboard.total' | translate}}</span>
                </div>
                <p-divider layout="vertical"></p-divider>
                <div class="flex flex-1 flex-column text-center">
                    <span class="text-3xl">{{getData('last_authors')}}</span>
                    <span>{{'dashboard.last-month' | translate}}</span>
                </div>
            </div>
        </p-card>

        <p-card header="{{'dashboard.views' | translate}}" class="max-w-20rem flex-1 left-border border-color-4">
            <div class="flex flex-1 flex-row">
                <div class="flex flex-1 flex-column text-center">
                    <span class="text-3xl">{{getData('total_views')}}</span>
                    <span>{{'dashboard.total' | translate}}</span>
                </div>
                <p-divider layout="vertical"></p-divider>
                <div class="flex flex-1 flex-column text-center">
                    <span class="text-3xl">{{getData('total_views')}}</span>
                    <span>{{'dashboard.last-month' | translate}}</span>
                </div>
            </div>
        </p-card>


    </div>

    <div class="flex flex-1 flex-column pt-8 gap-5 justify-content-around">

        <div class="flex flex-1 flex-row gap-5 justify-content-around">

            <div class="flex-1 text-center p-4 pl-8 pr-8">
                <h3>{{'dashboard.tags' | translate}} <span class="text-xs">({{'dashboard.top-10' | translate}})</span></h3>
                <p-chart type="bar" [data]="dataTags" [options]="options"></p-chart>
            </div>
            
            <div class="flex-1 text-center p-4 pl-8 pr-8">
                <h3>{{'dashboard.authors' | translate}} <span class="text-xs">({{'dashboard.top-10' | translate}})</span></h3>
                <p-chart type="bar" [data]="dataAuthors" [options]="options"></p-chart>
            </div>
        </div>

        <div class="flex-1 text-center p-4 pl-8 pr-8">
            <h3>{{'dashboard.views' | translate}} <span class="text-xs">({{'dashboard.top-10' | translate}})</span></h3>
            <p-chart type="bar" [data]="dataViews" [options]="options" (onDataSelect)="onDataSelect($event)"></p-chart>
        </div>

    </div>


</div>
