<div *ngIf="isLoading" class="loadWrapper flex align-items-center flex-column justify-content-center">
    <p-progressSpinner styleClass="w-14rem h-14rem" strokeWidth="2" animationDuration="1.5s"></p-progressSpinner>
</div>

<div class="private-layout flex flex-column h-full">
    <app-header (navOpenEvent)="toggleMenu()">
    </app-header>

    <div class="flex h-full w-full content">        
        <p-sidebar visible="true" [modal]="false" [showCloseIcon]="false" [(visible)]="visibleSideBar">
            <app-nav></app-nav>
        </p-sidebar>

        <div class="flex-1 p-4"> 
            <router-outlet></router-outlet>
        </div>
    </div>
</div>