
<div class="flex flex-column gap-3" style="height: calc(75vh - 155px); overflow: auto;">

    <p-fieldset legend="Datos de la petición">
        <div class="flex flex-1 flex-row w-full pt-2 gap-3 justify-content-end">


            <span class="p-float-label flex-none  w-14rem">
                <input id="fecha" class="w-14rem" inputStyleClass="w-full" pInputText value="{{message.date | date: 'dd/MM/yyyy HH:mm'}}" readonly />
                <label htmlFor="fecha">Fecha petición</label>
            </span>

            <span class="flex-none w-14rem p-float-label">
                <input id="embeddings"  class="w-14rem text-right" inputStyleClass="w-full" pInputText value="{{embeddings.length}}" readonly/>
                <label htmlFor="embeddings">Embeddings</label>
            </span>

            <span class="flex-none w-14rem p-float-label">
                <input id="tokens"  class="w-14rem text-right" inputStyleClass="w-full" pInputText value="{{message.tokens | number:'1.0-0'}}" readonly/>
                <label htmlFor="tokens">Tokens gastados</label>
            </span>

            <span class="p-float-label flex-none w-14rem">
                <input id="time" class="w-14rem text-right" inputStyleClass="w-full" pInputText value="{{(message.spentTime/1000.0) | number:'1.0-2'}} s" readonly />
                <label htmlFor="time">Tiempo proceso</label>
            </span>


        </div>
    </p-fieldset>

    <p-fieldset *ngIf="messagePrevious != null" legend="Mensaje de {{messagePrevious.author}}" [toggleable]="true" collapsed="true">
        <p [innerHTML]="convertPlainTextToHtml(messagePrevious.content)"></p>
    </p-fieldset>

    <p-fieldset legend="Respuesta del Assistant" [toggleable]="true" collapsed="true">
        <p [innerHTML]="convertPlainTextToHtml(message.content)"></p>

        <!--<markdown [data]="message.content" [disableSanitizer]="true"></markdown>-->
    </p-fieldset>

    <p-fieldset legend="Embeddings" [toggleable]="true" collapsed="true">

        <p-table [value]="embeddings" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }">
        
            <ng-template pTemplate="header">
                <tr>
                    <th class="flex-1 top-header text-left"><div class="ml-2">Document</div></th>
                    <th class="flex-none w-5rem top-header text-center"><div class="ml-2"># Chunk</div></th>
                    <th class="flex-none w-20rem top-header text-center"><div class="ml-2">EmbeddingId</div></th>
                    <th class="flex-none w-6rem top-header text-center"><div class="ml-2">Tokens</div></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-embedding>
                <tr>
                    <td class="text-left">{{ embedding.filename }}</td>
                    <td class="text-center">{{ embedding.chunkNumber }}</td>
                    <td class="text-center">{{ embedding.embeddingId }}</td>
                    <td class="text-right">{{ embedding.tokens }}</td>
                </tr>
            </ng-template>
        
        </p-table>

    </p-fieldset>

</div>

<div class="flex flex-row justify-content-end gap-2 md:flex-wrap mt-3">    
    <button pButton pRipple label="Cerrar" (click)="onClose()" ></button>
</div>

