
:host ::ng-deep {

  .p-fieldset-legend {
      background-color: lightgrey !important;
  }

  .p-fieldset-content {
      padding: 0.75rem 0 0.75rem 0;
  }

  .p-overlaypanel {
    background-color: transparent;
    box-shadow: none;
  }

  
  .collection-dropdown {
    span {
      margin-top: -0.3rem
    }
  }

}


.overlaypanel-squared {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}




.loader {
  height: 30px;
  aspect-ratio: 2.5;
  --_g: no-repeat radial-gradient(farthest-side,#038fd0 90%,#038fd000);
  background:var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 20% 50%;
  animation: l43 1s infinite linear; 
}
@keyframes l43 {
  0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
  66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
  83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
  100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
}


.border-user {
  border-radius: 25px; 
  border: thin solid #27293695;
}

.border-ia {
  border-radius: 25px; 
  border: thin solid #4472C495;    
}




.item-title {
  color: var(--surface-600); 
}


.item-chat {

  div {

    background: #090909;
    background: linear-gradient(to right, #090909 85%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  cursor: pointer;

  span {
    visibility: hidden;  
  }
}

.item-chat:hover {

  background-color: var(--gray-200);

  span {
    visibility: visible;
  }
}
