
<div class="flex flex-row w-full h-full gap-3 p-4">

    <div class="w-20rem">
        <p-fieldset legend="Config"> 

            <div style="height:calc(100vh - 175px)" class="pl-1 pr-1 flex flex-1 flex-column gap-3">


                <div class="flex flex-row w-full align-items-center">
                    <span class="pi pi-book text-500 w-2rem"></span>
                    <p-dropdown [options]="collections" [(ngModel)]="selectedCollection" optionLabel="description" [showClear]="false" styleClass="w-15rem h-2rem collection-dropdown" placeholder="Select a Collection" (onChange)="onChangeCollection($event)"></p-dropdown>
                </div>
                
                <div class="flex flex-row justify-content-end p-0 gap-3 w-18rem">
                    <span class="pi pi-cog cursor-pointer text-red-500 border-red-500 hover:text-primary hover:border-primary border-circle w-2rem h-2rem border-1 align-content-center text-center" (click)="onButtonConfigure()"></span>
                    <span class="pi pi-plus cursor-pointer text-red-500 border-red-500 hover:text-primary hover:border-primary border-circle w-2rem h-2rem border-1 align-content-center text-center" (click)="onCreateChat()"></span>
                </div>                

                <div class="flex flex-column scrollbar border-1 border-gray-300 border-round gap-1 p-0 w-18rem" style="height: calc(100vh - 285px)">                    
                    <div *ngFor="let item of chatItems" class="{{item.isTitle ? 'item-title' : 'item-chat'}} {{item?.isTitle == false && item?.chat?.id == selectedChat?.id ? 'bg-blue-100': ''}} flex flex-row" [contextMenu]="cmList">                    
                        <div *ngIf="item.isTitle == true" class="pt-3 pl-2">{{item.title}}</div>
                        <div *ngIf="item.isTitle == false" class="p-2 pl-3 white-space-nowrap overflow-hidden flex-1" (click)="onChangeChat(item)">
                            {{item.chat.title}}
                        </div>
                        <span *ngIf="item.isTitle == false" class="pt-2 pr-2 pi pi-ellipsis-h" (click)="cmListSelected = item; cmList.toggle($event)"></span>                    
                    </div>
                </div>

            </div>

        </p-fieldset> 
    </div>

    <div class="flex-1">
        <p-fieldset legend="Conversation" styleClass="caca">

            <div style="height:calc(100vh - 175px)" class="flex flex-1 flex-column p-0">

                    <div style="height: calc(100vh - 160px);" class="flex flex-column gap-5 mt-3 pb-5 pl-3 pr-3 scrollbar" #divMessages [scrollTop]="scrolltop">
                        
                        <div *ngFor="let message of messages" class="w-full pl-8 pr-8">
                        
                            <div class="flex flex-column" [ngClass]="message.user ? 'border-user' : 'border-ia'">
                                <div class="flex flex-row p-2 pb-0">
                                    <div *ngIf="message.user == false" class="flex w-2rem h-2rem align-items-center justify-content-center border-circle" style="background-color: #4472C4;">
                                        <img class="flex-none" src="./assets/images/icons8-ai-white.png">
                                    </div>
                                    <div *ngIf="message.user == true" class="flex w-2rem h-2rem align-items-center justify-content-center border-circle text-white" style="background-color: #272936;">
                                        {{getAbbreviatedName(message.author)}}
                                    </div>
                                    <div class="flex flex-1 h-2rem align-items-center pl-4">
                                        <span class="text-base"><b>{{message.author}}</b></span><span class="text-xs pl-3">({{message.date | date: 'dd/MM/yyyy HH:mm'}})</span>
                                    </div>
                                    <div *ngIf="message.user == false" class="flex-none w-2rem h-2rem align-content-center text-center cursor-pointer" (click)="onButtonInfo(message)">
                                        <span class="pi pi-info-circle"></span>
                                    </div>                        
                                </div>
                                <div class="flex flex-1 flex-row pl-2 pr-2 pb-2">
                                    <div class="flex w-2rem"></div>
                                    <div class="flex flex-1 align-items-center pl-4">
                                        <markdown [data]="message.content" [disableSanitizer]="true" mermaid lineNumbers clipboard style="width: calc(100vw - 45rem);" class="scrollbar"></markdown>
                                    </div>                        
                                </div>

                            </div>
                            
                        
                        </div>

                        <div *ngIf="asking" class="flex p-2 justify-content-end w-full pr-8">
                            <div class="loader"></div>
                        </div>

                    
                    </div>

                    <div [ngStyle]="{'height': (questionArea+30)+'px'}">        
                        <div class="w-full pl-8 pr-8 pt-4 flex flex-row">
                            <div class="flex flex-1">
                                <span class="p-float-label w-full">
                                    <textarea id="question" [ngStyle]="{'height': questionArea+'px'}" pInputTextarea class="p-inputtext-lg w-full" [(ngModel)]="question" rows="2" (keyup)="onWriteQuestion($event)"></textarea>
                                    <label htmlFor="question">Message IA...</label>
                                </span>
                            </div>
                            <span class="pi pi-send text-2xl pl-2 pt-2 text-600 hover:text-primary cursor-pointer" (click)="onQuestionSend()"></span>
                        </div>

                    </div>
            </div>
        </p-fieldset> 
    </div>

</div>

<p-overlayPanel #assistantPanel dismissable="true">
<div class="overlaypanel-squared p-4" style="margin-top: 12rem"> 
    <div class="flex flex-1 flex-column w-30rem">
        <div class="font-bold text-lg pb-3">Prompt assistant</div>
        <div *ngFor="let annotation of assistantAnottations" class="flex flex-row cursor-pointer hover:bg-gray-100 pt-2 pb-2 pr-1 pl-1" (click)="onAnnotationClick(annotation)">
            <div class="text-sm w-8rem" [innerHTML]="formattedKey(annotation)"></div>
            <div class="text-xs">{{annotation.value}}</div>
        </div>
    </div>
</div>
</p-overlayPanel>

<p-menu #cmList [model]="itemsContextMenuList" [popup]="true"></p-menu>

<p-confirmDialog #cd [style]="{width: '35vw'}" defaultFocus="none">
    <ng-template pTemplate="footer">
        <div *ngIf="cd.confirmationOptions.rejectVisible == false">
            <button pButton pRipple p-button-label="10px" label="Ok" (click)="cd.accept()"></button>
        </div>

        <div *ngIf="cd.confirmationOptions.rejectVisible == true">
            <button pButton pRipple styleClass="" label="No" class="p-button p-button-secondary p-button-outlined" (click)="cd.reject()"></button>
            <button pButton pRipple p-button-label="10px" label="Sí" (click)="cd.accept()"></button>
        </div>
    </ng-template>
</p-confirmDialog>


<p-dialog header="Header" [(visible)]="renameChatDialogVisible">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Renombrar chat</span>
    </ng-template>
    <p>
        Para renombrar el chat, proponga un nuevo nombre.
    </p>
    <span class="p-float-label w-28rem">
        <input pInputText [(ngModel)]="renameChatName" class="w-full" />
        <label>Filename</label>
    </span>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cerrar" class="w-10rem p-button p-button-secondary p-button-outlined" (click)="renameChatName = ''; renameChatDialogVisible = false; cmListSelected = null;"></button>
        <button pButton pRipple label="Renombrar" class="w-10rem" (click)="onRenameChat()"></button>
    </ng-template>
</p-dialog>