<div class="spinner-overlay" *ngIf="loading">
    <p-progressSpinner ></p-progressSpinner>
</div>
<div [formGroup]="profileForm">
    
    <div class="flex flex-row md:flex-wrap gap-2 md:flex-wrap">
        <span class="p-float-label flex-1 min-w-max mt-2">
            <input class="p-inputtext-lg"  id="name" formControlName="name"  type="text" class="w-full" pInputText  >
            <label for="name">Name<span class="text-red-600 text-base">*</span></label>
        </span>
        <span class="p-float-label min-w-max mt-2" style="flex:2">
            <input class="p-inputtext-lg" id="description" type="text" class="w-full" formControlName="description"  pInputText >
            <label for="description">Description<span class="text-red-600 text-base">*</span></label>
        </span>
    </div>

    <div class="flex flex-row justify-content-end gap-2 md:flex-wrap mt-3">    
        <button pButton pRipple styleClass="" label="Cancelar" class="p-button p-button-secondary p-button-outlined bg-white" (click)="closeWindow()"></button>
        <button pButton pRipple p-button-label="10px" label="Guardar" [disabled]="(!profileForm.valid || loading)" (click)="onSave()" ></button>
    </div>
</div>