/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

@import './assets/scss/master';


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Ubuntu", sans-serif; 
    font-size: 0.85rem;
    font-weight: 400;
    overflow: hidden;
}

h3{
    color: #272936;
    font-size: 20px;
    font-weight: bold;
}

/* Estilos de la ventana fileupload */ 
.p-fileupload-buttonbar {
    border: 0px !important;
}

.p-fileupload {
    display: flex !important;
    align-items: center !important;
}

.p-fileupload-content {
    padding: 0px !important;
    flex:1;
}

.p-fileupload-row>div {
    flex: content !important;
}

.comment-fill:before {
    content: url('assets/images/comments.png');
}

.p-multiselect-header {
    display: none !important;
}

.h-1_5rem {
    height: 1.5rem;
}

.h-2_5rem {
    height: 2.5rem;
}

.w-2_5rem {
    width: 2.5rem;
}

.h-1rem {
    height: 2rem!important;
}

.ml-auto {
    margin-left: 10px!important;
}

.p-component {
    font-family: "Ubuntu",Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 0.85rem !important;
    font-weight: 400;    
}

.p-inputtext {
    font-family: "Ubuntu",Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 0.85rem !important;
    font-weight: 400;   
    height: 42px; 
}


.p-sidebar .p-sidebar-content {
    padding: 0rem; 
}

p-autocomplete {
    span {
        width: 100%;
        input { width: 100%; }
    }
}


.p-menuitem-link {
    height: 30px;
}



.scrollbar {
    overflow: auto;
    padding: 0 10px;
}

.scrollbar::-webkit-scrollbar {
    width: 16px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #272936;
}


.p-autocomplete-token-label {
    white-space:nowrap;
}
