<div>
    <p-fieldset legend="Warning">
        <div>
            You are about to generate chunks of document '{{document.filename}}'.
            This will delete all the chunks and embeddings data you have stored.
        </div>
    </p-fieldset>

    <div class="flex flex-row gap-5 mt-5 mb-5">
        <div class="flex flex-1">
            If you want to generate chunks of the document, you must indicate the size of chunks you want to use.
        </div>
        <span class="flex-none w-6rem p-float-label">
            <p-inputNumber [(ngModel)]="tokens" class="w-6rem" inputStyleClass="w-full" [inputStyle]="{'height':'42px'}" [min]="100" [max]="4000" maxFractionDigits="0" locale="es-ES"></p-inputNumber>
            <label for="name">Tokens<span class="text-red-600 text-base">*</span></label>
        </span>
    </div>

    <div class="flex flex-row justify-content-end gap-2 md:flex-wrap mt-3">    
        <button pButton pRipple styleClass="" label="Cancel" class="p-button p-button-secondary p-button-outlined bg-white" (click)="closeWindow()"></button>
        <button pButton pRipple p-button-label="10px" label="Generate Chunks" (click)="onSave()" ></button>
    </div>
</div>