:host ::ng-deep { 

    .p-fileupload {
        flex-direction: column;
        align-items: start !important;
    }

    .p-fileupload-content {

        width: 100%;

        button {
            min-width: 0px;
        }
    }
}


